<head>

<link rel="stylesheet" href="stylesheet.css">
</head>

<div>

 <form method="post" action="/note">
  <input type="text" placeholder="note name" name="note_name" 
  > 
  <textarea placeholder="note content" name= "note_content" > 
  </textarea>
  <input type="submit" value="submit" 
  >
</form>
</div>
